
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
</head>

<header>
    <nav>
        <div class="header-left">
            <ul class="header-left-list">
                <li>
                    <a href="/" class="logo">
                        <img src="/images/MBlogo.png" width="30" height="30" alt="Logo" class="logo-img">
                        <h4>MovieBase</h4>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Movies ▼</a>
                    <ul class="dropdown-menu">
                        <li><a href="/movie/most-viewed">Popular</a></li>
                        <li><a href="/movie/latest">Latest</a></li>
                        <li><a href="/movie/top-rated">Top Rated</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">TV Shows ▼</a>
                    <ul class="dropdown-menu">
                        <li><a href="/tv/most-viewed">Popular</a></li>
                        <li><a href="/tv/latest">Latest</a></li>
                        <li><a href="/tv/top-rated">Top Rated</a></li>
                    </ul>
                </li>
                <li><a href="/people">People</a></li>
                <!-- <li><a href="#">More</a></li> -->
                <li><a href="/ai-info">AI Assistant</a></li>
            </ul>
        </div>

        <div class="header-right">
            <ul class="header-right-list">
                <% if (!session.username) { %>
                    <li><a href="/login?redirect=<%= encodeURIComponent(currentUrl) %>">Login</a></li>
                <% } else { %>
                    <li class="dropdown">
                        <a href="/profil" class="dropdown-toggle">
                            <%= session.username %> ▼
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profil">Profile</a></li>
                            <% if (session.role === 'admin') { %>
                                <li><a href="/admin">Admin Panel</a></li>
                            <% } %>
                            <li><a href="/logout?redirect=<%= encodeURIComponent(currentUrl) %>">Logout</a></li>
                        </ul>
                    </li>
                <% } %>
                <li>
                    <a href="/pretrazi?category=movie">
                        <i class="fas fa-search"></i> Search
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>


