<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popis Filmova</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <h1><a href="/" class="logo">Filmska baza</a></h1>
            <ul>
                <li><a href="/">Početna</a></li>
            </ul>
        </nav>
    </header>

    <h1>Vaš popis filmova</h1>

    <% if (films.length > 0) { %>
        <ul>
            <% films.forEach(film => { %>
                <li>
                    <strong><%= film.naziv %></strong>
                    (<%= film.godina_izdanja %>)
                    - Žanr: <%= film.zanr %>
                    <% if (film.pogledano) { %>
                        - <em>Pogledano</em>
                    <% } else { %>
                        - <a href="/mark_watched/<%= film.id %>">Označi kao pogledano</a>
                    <% } %>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Vaš popis filmova je prazan.</p>
    <% } %>

    <a href="/">Natrag na pretragu</a>
</body>
</html>
