.comments-section {
    margin-top: 20px;
    padding: 0 50px 0 30px;
    border-radius: 8px;
}

.comments-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 1rem;
    margin: auto;
}

.comment-card {
    border: 1px solid lightgrey;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 100%;
}

.comment-card {
    border: 1px solid lightgrey;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 100%;
}

.comment-card p {
    margin: 5px 0;
    white-space: pre-line;
    padding: 1rem;
}

.flex-spaceBetween{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    background-color: #d9d9d9;
}

.cur-user{
    background-color: #a3e397;
}
/*
.tockice{
    display: flex;
    line-height: 1.3rem;
}

.tockice-score{
    padding: 5px;
} 
*/

.flex-right {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 10px;
}

.rating-padding {
    padding: 10px 0 10px 10px;
}

.comment-card .rating {
    font-weight: bold;
}



.comment-card .date {
    font-size: 0.8rem;
    color: #6d6868;
}

.view-all-comments {
    text-align: center;
    margin-top: 20px;
}

.btn-view-all {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-view-all:hover {
    background-color: #0056b3;
}

.btn-edit {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(45deg, #ff6b6b, #f06595);
    color: white;
    text-decoration: none;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn-edit:hover {
    background: linear-gradient(45deg, #f06595, #ff6b6b);
}






.comment-card form textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.comment-card form input[type="number"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.comment-card form .btn-submit {
    background-color: #0d4116;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
}

.comment-card form .btn-submit:hover {
    background-color: #09632e;
}

