body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2 {
    color: #333;
}

.list-card {
    background: #fff;
    border-radius: 8px;
    padding: 25px;
    margin: 15px 20px;
    max-width: 300px;
    min-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-card a{
    text-decoration: none;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.list-item {
    background: white;
    border-radius: 8px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid green;
}

.list-item img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.forma-delete{
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: red;
    color: white;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button.create-list {
    background-color: green;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

button.create-list:hover {
    background-color: darkgreen;
}

button.delete-list {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
}

button.delete-list:hover {
    background-color: darkred;
}

.empty{
    padding: 50px 0;
    font-size: 1.3rem;
    color: red;
    font-weight: bold;
    width: 100%;
    text-align: center;

}

.favoriti-pogledano{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.favoriti{
    border: 5px solid red;
}

.pogledano{
    border: 5px solid green;
}

.other{
    border: 5px solid #8a8ae7;
}

select, input{
    padding: 5px;
}

.align-left{
    text-align: left;
    margin: 40px 0 0 20px;
}

.flexer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.elipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}