body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

header {
    background-color: #0d4116;
    border-bottom: 2px solid darkolivegreen;
    color: #fff;
    padding: 20px 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav h4{
    font-size: 1.3rem;
    margin: 0;
    font-weight: 500;
    padding-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding-right: 25px;
    display: flex;
    align-items: center;
}

nav img{
    padding-right: 7px;
}

nav a{
    display: flex;
    align-items: center;
}

.header-right-list li{
    padding-top: 5px;
    padding-right: 30px;
}

.header-right-list li a i {
    margin-right: 5px;
    font-size: 16px;
}


nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.05rem;
}


footer {
    background-color: #0d4116;
    color: #fff;
    padding: 50px 20px;
    margin-top: auto;
}

.footer-left {
    text-align: right;
    padding-right: 30px;
}

.footer-left p{
    padding-left: 35%;
    word-wrap: break-word;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left, .footer-middle, .footer-right {
    flex: 1;
    margin: 0 10px;
}

.footer-left h2 {
    color: #fff;
    padding: 10px 0;
    margin: 0;
}

.footer-middle ul {
    list-style: circle;
    padding: 0;
}

.footer-middle ul li {
    margin: 5px 0;
}

.footer-middle ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-middle ul li a:hover {
    text-decoration: underline;
}

.footer-right p{
    margin-bottom: 5px;
}

.social-icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #a8e6a8;
}

.season-header{
    background-color: #006f13;
    color: white;
    border-top: 1px solid white;
    padding: 20px 0 20px 40px;
    line-height: 1.6;
}

.season-header h1{
    margin: 0;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.season-header a{
    color: white;
    margin-top: 0;
    text-decoration: none;
}

.season-header span{
    color: rgb(171, 171, 171);
    font-weight: normal;
}
